<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="AndroCodeConfig"
	packages="org.apache.logging.log4j.test">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<Console name="ConsoleERR" target="SYSTEM_ERR">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="FileAll" fileName="log4j/all.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</File>
		<File name="FileError" fileName="log4j/error.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>		
		<Root level="trace">
			<AppenderRef ref="Console" level="info"/>
			<AppenderRef ref="FileAll" level="trace"/>
			<AppenderRef ref="FileError" level="error"/>
		</Root>
	</Loggers>
</Configuration>