Andro/Andro/.settings/org.eclipse.core.resources.prefs
Andro/Andro/.settings/org.eclipse.jdt.core.prefs
Andro/Andro/.settings/org.eclipse.m2e.core.prefs
AndroAntlrPrototype/.settings/org.eclipse.jdt.core.prefs
AndroCodeParser/.settings/org.eclipse.jdt.core.prefs
AndroCodeProcessor/.settings/org.eclipse.jdt.core.prefs
AndroCodeCommons/.settings/org.eclipse.jdt.core.prefs
AndroCodeCommons/.settings/org.eclipse.m2e.core.prefs
AndroCodeInterpreter/.settings/org.eclipse.jdt.core.prefs
AndroCodeInterpreter/.settings/org.eclipse.m2e.core.prefs
AndroAntlrPrototype/log4j/all.log
AndroAntlrPrototype/log4j/error.log
